<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car3.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car3.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car3.year %>
</p>

<%= link_to 'Edit', edit_car3_path(@car3) %> |
<%= link_to 'Back', car3s_path %>
