<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car2.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car2.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car2.year %>
</p>

<%= link_to 'Edit', edit_car2_path(@car2) %> |
<%= link_to 'Back', car2s_path %>
